[submodule "adforis.github.io"]
	path = adforis.github.io
	url = git@github.com:adforis/adforis.github.io.git
	branch = main
[submodule "public"]
	path = public
	url = git@github.com:adforis/adforis.github.io.git
	branch = main
